# Local .terraform directories
**/.terraform/*
.DS_Store
perf-improvements/
terraform-aks-azure-cni/cyclecloud/
# Local .terraform directories

*/terraform-aks-azure-cni/terraform.tfstate.backup
*/terraform-aks-azure-cni/terraform.tfstate
# .tfstate files
**/*.terraform.tfstate*
**/*.tfvars*
terraform-aks-azure-cni/terraform.tfstate
terraform-aks-azure-cni/terraform.tfstate.backup

*.tgz
terraform/terraform.tfstate
values.yaml
terraform/terraform.tfstate.backup

david.values.yaml
install_instructures.txt
test.yaml

terraform-aks-azure-cni/.terraform.lock.hcl